In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn import svm,datasets

In [3]:
iris = datasets.load_iris()

In [6]:
df = pd.DataFrame(iris,columns=iris.feature_names)

In [10]:
df['flower']=iris.target
df['flower']=df['flower'].apply(lambda x: iris.target_names[x])

In [11]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,NaN,NaN,NaN,NaN,setosa
1,NaN,NaN,NaN,NaN,setosa
2,NaN,NaN,NaN,NaN,setosa
3,NaN,NaN,NaN,NaN,setosa
4,NaN,NaN,NaN,NaN,setosa

In [22]:
df['flower'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: flower, dtype: int64

### Using Train_Test_Split

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(iris.data,iris.target,test_size=0.3)

In [28]:
model = svm.SVC(kernel='rbf',C=1.0,gamma='auto')
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9777777777777777

### Using K fold Cross Validation

In [29]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [30]:
cross_val_score(svm.SVC(kernel='rbf',C=1.0,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [31]:
cross_val_score(svm.SVC(kernel='linear',C=1.0,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

### We can Use above method in a iterative way

In [34]:
kernels = ['rbf','linear']
C = [1,10,20]
avg_scores = {}
for kernel in kernels:
    for c in C:
        cv_scores = cross_val_score(svm.SVC(kernel=kernel,C=c,gamma='auto'),iris.data,iris.target,cv=5)
        avg_scores[kernel+'_'+str(c)] = np.average(cv_scores)
        
avg_scores

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

In [38]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma='auto'),param_grid={'kernel' : ['rbf','linear'],
'C' : [1,10,20]})
clf.fit(iris.data,iris.target)

GridSearchCV(estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [39]:
clf.cv_results_

{'mean_fit_time': array([0.0017797 , 0.0010448 , 0.00141582, 0.0009975 , 0.00099754,
        0.00081754]),
 'std_fit_time': array([4.35585605e-04, 9.49859619e-05, 5.13432527e-04, 8.92229901e-04,
        1.50789149e-07, 4.10566706e-04]),
 'mean_score_time': array([0.00108962, 0.00060511, 0.0010602 , 0.0006988 , 0.00052705,
        0.00039902]),
 'std_score_time': array([0.00091084, 0.00052458, 0.00017883, 0.00039852, 0.00044953,
        0.00048869]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [40]:
df = pd.DataFrame(clf.cv_results_)

In [41]:
df.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001780,4.355856e-04,0.001090,0.000911,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001045,9.498596e-05,0.000605,0.000525,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001416,5.134325e-04,0.001060,0.000179,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000997,8.922299e-04,0.000699,0.000399,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.000998,1.507891e-07,0.000527,0.000450,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5

In [43]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [44]:
clf.best_score_

0.9800000000000001

In [46]:
from sklearn.model_selection import RandomizedSearchCV
clf = RandomizedSearchCV(svm.SVC(gamma='auto'),param_distributions={'kernel' : ['rbf','linear'],
'C' : [1,10,20]},cv=5,n_iter=2)

In [50]:
clf.fit(iris.data,iris.target)
df = pd.DataFrame(clf.cv_results_)
df = df[['param_C','param_kernel','mean_test_score']]

In [51]:
df

  param_C param_kernel  mean_test_score
0      10       linear         0.973333
1       1          rbf         0.980000